
<p>Bienvenido nuevo Ninja</p>

<p>
Has creado tu cuenta con el usuario <a href="#">{{ user_email }}</a> y para hacer uso de nuestros servicios ingresar al siguiente link:
</p>
<p>
{{ protocol }}://{{ domain }}
</p>

<p>
Si no puedes acceder, copia la dirección y pégala en una nueva ventana del navegador.
Si no registraste alguna cuenta y no sabes de qué trata el mensaje, no es necesario alguna acción, simplemente ignora éste mensaje.

Atentamente,
</p>

<p>
NinjaCoding
</p>

<p>
Judge for elegant coders
</p>
